.dashboard {
  color: #000;
  margin-top: 350px;
  @media(min-width: 768px) {
    margin-top: 150px;
  }
  &__listing-container {
    width: 70%;
    margin: 0 auto;
  }
  &__greeting {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #FFF;
  }
  &__headline {
    @extend .dashboard__greeting;
    font-size: 2rem;
  }
}