.dashboard {
  color: #000;
  margin-top: 200px;
  @media (min-width: 768px) {
    margin-top: 90px;
  }
  &__listing-container {
    width: 90%;
    margin: 0 auto;
    @media (min-width: 768px) {
      width: 70%;
    }
  }
  &__greeting {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #fff;
  }
  &__headline {
    @extend .dashboard__greeting;
    font-size: 2rem;
  }
}
