
.listing {
  border: 3px solid #777;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  background: #FFF;
  padding: 10px;
  @media(min-width: 768px) {
    flex-direction: row;
  }
  &__img-box {
    flex: 1 1 25%;
  }
  &__img {
    width: 100%;
    display: block;
    margin: 0 auto 20px;
    @media(min-width: 768px) {
      margin: 0 auto;
    }
  }
  &__heading-title {
    flex: 1 1 25%;
    margin-left: 10px;
    font-size: 1.5rem;
    text-decoration: none;
  }
  &__desc-box {
    flex: 1 1 25%;
    margin: 10px;
    h2 {
      font-size: 1.25rem;
      margin-bottom: 10px;
    }
    p {
      margin-bottom: 5px;
    }
  }
  &__contact {
    flex: 1 1 25%;
    margin: 10px;
  }
  &__delete-btn {
    z-index: 2;
  }
  &__btns {
    flex: 1 1 25%;
    margin: 10px;
    > a {
      display: block;
      font-weight: bold;
      color: blue;
      text-decoration: none;
    }
  }
  &__delete-btn {
    margin-top: 10px;
  }
}