.nav {
  background: #fff;
  color: #fff;
  display: flex;
  padding: 0;
  flex-direction: column;
  position: fixed;
  width: 100%;
  top: 0;
  @media(min-width: 768px) {
    flex-direction: row;
    padding: 0 20px;
  }
  &__logo-container {
    flex: 1 1 auto;
  }
  &__logo {
    width: 80%;
    margin: 0 auto 20px;
    display: block;
    @media(min-width: 768px) {
      width: 80%;
      margin: 0 auto;
    }
  }
  &__links {
    flex: 1 0 70%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    @media(min-width: 768px) {
      justify-content: flex-end;
      align-items: center;
    }
    > a {
      color: #458FD9;
      margin: 10px;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 1.5rem;
      &:hover,
      &:focus {
        color: darken(#458FD9, 10%);
      }

      @media(min-width: 768px) {
        margin: 0 20px;
        font-size: 1rem;
      }
    }
  }
}