.user-listings {
  margin-top: 200px;
  @media (min-width: 768px) {
    margin-top: 90px;
  }
  &__container {
    width: 70%;
    margin: 0 auto;
  }
  &__headline {
    font-size: 2rem;
    color: #fff;
    margin-bottom: 20px;
  }
}
