.user-listings {
  margin-top: 275px;
  @media(min-width: 768px) {
    margin-top: 150px;
  }
  &__container {
    width: 70%;
    margin: 0 auto;
  }
  &__headline {
    font-size: 2rem;
    color: #FFF;
  }
}