.listing-details {
  width: 70%;
  color: #FFF;
  margin: 275px 0 0;
  @media(min-width: 768px) {
    margin: 150px auto 0;
  }
  &__img {
    display: block;
    margin: 0 auto 20px;
    width: 600px;
  }
  > h2 {
    font-size: 2rem;
  }
  &__info-box {
    margin: 0 auto;
    width: 600px;
    p {
      margin-bottom: 10px;
    }
  }
}