.auth {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__button {
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    background: #458fd9;
    color: #fff;
    padding: 20px;
    display: block;
    min-width: 200px;
    max-width: 300px;
    margin: 0 auto;
  }
}
